apache-airflow-providers-google==10.5.0
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-docker
pyarrow
fsspec
gcsfs
requests
osmium
pandas
pandas-gbq
geopandas
shapely
google-cloud-core==2.4.3
google-cloud-resource-manager==1.7.0
google-cloud-appengine-logging==1.6.2